<header>
    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="123.784"
        height="33.678"
        viewBox="0 0 123.784 33.678"
      >
        <defs>
          <clipPath id="babypraqia">
            <path
              data-name="Rectangle 31"
              style="fill: #fff"
              d="M0 0h123.784v33.678H0z"
            />
          </clipPath>
        </defs>
        <g data-name="Group 12">
          <path
            data-name="Path 920"
            d="M0 0v33.637h9.46V22.074h11.773L13.749 13.2H9.46V8.914H24.6V0z"
            style="fill: #fff"
          />
          <path
            data-name="Path 921"
            d="M59.526.04v8.872h9.755v24.723H78.7V8.912h9.712V.04z"
            transform="translate(2.87 .002)"
            style="fill: #fff"
          />
          <g data-name="Group 11">
            <g data-name="Group 10" style="clip-path: url(#babypraqia)">
              <path
                data-name="Path 922"
                d="M49.264 16.816c0 5.046-3.027 7.9-7.526 7.9h-.084c-4.5 0-7.526-2.9-7.526-7.9 0-5.129 2.985-7.9 7.568-7.9h7.568L58.766.04h-16.65c-10.091 0-17.408 6.644-17.408 16.734 0 9.755 6.349 16.146 15.683 16.819a6.928 6.928 0 0 0 .968.084h.757a6.928 6.928 0 0 0 .968-.084c9.291-.673 15.64-7.064 15.682-16.734V1.847l-9.5 8.872z"
                transform="translate(1.191 .002)"
                style="fill: #fff"
              />
              <path
                data-name="Path 923"
                d="M9.025 12.595 20.8 21.467v-8.872z"
                transform="translate(.435 .607)"
                style="fill: #ffae00"
              />
              <path
                data-name="Path 924"
                d="M105.879 24.763h-.042c-4.5 0-7.526-2.9-7.526-7.948 0-5.129 2.985-7.9 7.568-7.9h11.226L119.5.04h-13.284c-10.091 0-17.408 6.644-17.408 16.734 0 10.344 7.149 16.9 17.408 16.9h12.067v-8.911z"
                transform="translate(4.282 .002)"
                style="fill: #fff"
              />
            </g>
          </g>
        </g>
      </svg>
      <div class="icons">
        <span class="CRM"> CRM </span>
        <svg
          class="custom"
          xmlns="http://www.w3.org/2000/svg"
          width="29.366"
          height="29.366"
          viewBox="0 0 24 24"
        >
          <g data-name="Group 24">
            <path
              d="M12 22a2.006 2.006 0 0 0 2-2h-4a2 2 0 0 0 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4a1.5 1.5 0 0 0-3 0v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1z"
              transform="translate(0 -.5)"
              style="fill: #313131"
            />
            <path
              data-name="Rectangle 8"
              style="fill: none"
              d="M0 0h24v24H0z"
            />
          </g>
        </svg>
        <svg
          class="custom"
          xmlns="http://www.w3.org/2000/svg"
          width="29.366"
          height="29.366"
          viewBox="0 0 29.366 29.366"
        >
          <path
            data-name="Path 2203"
            d="M13.789 13.789a4.894 4.894 0 1 0-4.895-4.895 4.893 4.893 0 0 0 4.895 4.895zm0 2.447C10.522 16.236 4 17.876 4 21.13v2.447h19.577V21.13c0-3.254-6.521-4.894-9.788-4.894z"
            transform="translate(.894 .894)"
            style="fill: #313131"
          />
          <path
            data-name="Path 2204"
            d="M0 0h29.366v29.366H0z"
            style="fill: none"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            data-name="Path 1982"
            d="M5.88 4.12 13.76 12l-7.88 7.88L8 22l10-10L8 2z"
            style="fill: #fff"
          />
          <path data-name="Path 1983" d="M0 0h24v24H0z" style="fill: none" />
        </svg>
      </div>
    </div>
  </header>