.container {
    width: 100%;
    display: grid;
    height: 858px;
    grid-template-columns: 101px 1fr;

    .search-control {
        outline: none;
        border: 0;
        width: 294px;
        height: 42px;
        box-sizing: border-box;
        margin: 11px 14px 11px 15px;
        padding: 9px 184px 9px 62px;
        border-radius: 5px;
        background-color: #f3f3f6;
    }

    .side-menu {
        height: 858px;
        width: 100%;
        margin: 0px 54px 0 0;
        padding: 43.2px 29px 210.7px 29px;
        object-fit: contain;
        background-color: #fff;
        box-sizing: border-box;

        .place {
            margin: 0 4px 43.5px 4px;
        }

        .card {
            margin: 0px 4px 43.2px 4px;
        }

        .card2 {
            margin: 0px 4px 43.5px 4px;
        }

        .box {
            margin: 0px 4px 40.6px 4px;
        }

        .bitcoin {
            margin: 0px 0 40.6px;
        }

        .box2 {
            margin: 0 4px 43px 4px;
        }

        .pc {
            margin: 0 4px 43px 4px;
        }

        .tasks {
            margin: 0 4px 43px 4px;
        }

        .pc2 {
            margin: 0 4px 0 4px;
        }
    }

    .search-section-input {
        position: relative;
        display: flex;
    }

    .search-icon {
        position: absolute;
        top: 22px;
        left: 30px;
        margin: 0 17px 0 0;
    }

    .ticket {
        position: relative;
        margin: 0px;
        width: 694px;

        .ticket-header-terciary {
            height: 35px;
            border-radius: 5px;
            background-color: #707070;
            text-align: center;
            z-index: 100;
            position: relative;
        }
    }

    .ticket-header {
        height: 35px;
        border-radius: 5px;
        background-color: #707070;
        text-align: center;
    }

    .ticket-content {

        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.34);
        background-color: #fff;
        border-radius: 5px;

        .info {
            padding: 1rem;
            justify-content: flex-start;

            &>span {
                margin-right: -4rem;
            }

            & span:nth-child(2) {
                margin: 0 auto;
            }
        }
    }

    .ticket-content-secondary {
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.34);
        border-radius: 5px;
        border: solid 2px #ffae00;
        background-color: #F7F7F7;

        .info {
            padding: 20px 30px;
            box-sizing: border-box;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }

        hr {
            margin: 0;
        }

        .body {
            padding: 17px 30px 20px 30px;
            box-sizing: border-box;
            height: 138px;
            display: grid;
            row-gap: 10px;
        }
    }

    .ticket-content-terciary {
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.34);
        border-radius: 5px;
        background-color: #d7d7d7;
        .info {
            justify-content: flex-start;

            &>span {
                margin-right: -4rem;
            }

            & span:nth-child(2) {
                margin: 0 auto;
            }
        }

        .info {
            padding: 20px 30px;
            box-sizing: border-box;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }

        hr {
            margin: 0;
        }

        .body {
            padding: 17px 30px 20px 30px;
            box-sizing: border-box;
            height: 110px;
            display: grid;
            row-gap: 10px;
        }



    }

    .gradient {
        filter: blur(4px);
        width: 100%;
        height: 78px;
        padding: 8.5px 0 0;
        position: absolute;
        top: 139px;
        opacity: 0.9;
        background-image: linear-gradient(to top, #d6d6d6 92%, #e4e4e4 33%, rgba(233, 233, 233, 0));
    }

    .info {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .gray-text {
        opacity: 0.57;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #313131;
    }

    .gray-text-with-opacity {
        opacity: 0.47;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #313131;
    }

    .conversation {
        display: grid;
        grid-template-columns: 68px 734px;
        align-items: center;
        width: 802px;
        height: 87px;
        margin: 15px 37px 15px 20px;
        padding: 11px 9px 13px;
        border-radius: 5px;
        background-color: #707070;
        img{
            width: 59px;
            height: 59px;
            margin: 2px 9px 2px 0;
          }
        
    }

    .conversation-light {
        margin: 0px 24px 0px 71px;
        padding: 11px 9px 13px;
        border-radius: 5px;
        background-color: #d6d6de;
        display: grid;
        padding-left: 1.3rem;
    }

    .conversation-light>.text>.date {
        display: flex;
        justify-content: flex-end;
        padding-right: 1.5rem;
    }

    .gray-text-bold {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #313131;
    }

    

    .chat {
        border-radius: 10px;
        box-shadow: 0 23px 31px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        height: 748px;

        .content {
            height: 496px;
            overflow-y: scroll;
        }

        hr {
            border: solid 1px #d7d7d7;
            height: 0;
        }

        .header {
            display: flex;
            padding: 20px 20px;
            & .ticket-detail {
                margin: 0 171px 0 101px;
                font-size: 16px;
            }
        }
    }


}